*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
.head{
    background-image: url('1.jpg');
}

.nav-tabs, .tab-content{
    margin-left: 45%
}
.tab-content{
    width: 100%;
}

.nav-tabs ,.nav-tabs > li{
    width: 50%;
    font-size: larger;
    font-weight: bolder;
    border-radius: 8px;
    background-color: #5cb85c;
}
.form-horizontal{
    background-image: url('1.jpg');
    width: 50%;
    border-radius: 12px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    position: relative;
}

.container2{
    padding-top: 5%;
    background-image: url('1.jpg');
    background-attachment:fixed;
    height: 300vw;
    background-repeat: no-repeat;
}

.two{
    border-left: 1px solid black;
}


.login-btn {
    margin-left: 15% ;
}