<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login and Registeration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid ">
        <header class="row head">
            <h1>AXSOS ACADEMY</h1>
        </header>
    </div>
    <div class="container-fluid container2" >
        <div class="row">
            <div class="col-sm-6">
                <ul class="nav nav-tabs">
                    <li class="active " >
                        <a  data-toggle="tab" href="#student">Student</a>
                    </li>
                    <li>
                        <a data-toggle="tab" class="instruct" href="#instructor">Instructor</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="student" class="tab-pane fade in active">
                        <form class="form-horizontal" action="/action_page.php">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="fname">First Name:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="lname">Last Name:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="lname" placeholder="Enter Last Name"
                                        name="lname" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="email">Email:</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="email" placeholder="Enter Email"
                                        name="email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="password">Password:</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="password" placeholder="Enter Password"
                                        name="password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="phone">Phone Number:</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="phone" placeholder="Enter Phone Number"
                                        name="phone" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="idnum">ID:</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" id="idnum" placeholder="Enter ID"
                                        name="idnum" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success btn-lg">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="instructor" class="tab-pane fade">
                        <form class="form-horizontal" action="/action_page.php">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="fname">First Name:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="lname">Last Name:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="lname" placeholder="Enter Last Name"
                                        name="lname" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="email">Email:</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="email" placeholder="Enter Email"
                                        name="email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="password">Password:</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" id="password" placeholder="Enter Password"
                                        name="password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="phone">Phone Number:</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="phone" placeholder="Enter Phone Number"
                                        name="phone" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="idnum">ID:</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" id="idnum" placeholder="Enter ID"
                                        name="idnum" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="code">Passing Code:</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" id="code" placeholder="Enter Passing Code"
                                        name="code" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success btn-lg">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 two">
                <h1>Login</h1>
                <form class="form-horizontal" action="/action_page.php">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email_id">Email/ID:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="email_id" placeholder="Enter Email/ID"
                                name="email_id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="password">Password:</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="password" placeholder="Enter Password"
                                name="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label><input type="checkbox" name="remember" /> Remember
                                    me</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success btn-lg">
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>