.navdata{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.55%;
}

.col-sm-8{
    background-color: tomato;
    padding: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    color: #123546;
  }
  

.col-sm-8 {
    border-right: 1px outset black ;
    border-radius: 8px;
    box-shadow: 2px 2px black;
    margin-right:1%;
  }

  table {
      margin: 0 auto;
  }

  td > a {
      color:white ;
  }

  td {
      text-align: center;
      font-size: x-large;
  }
  