*{
    margin: 0px;
    padding: 0px;
}

/* .navdata{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.55%;
} */

li , a{
  font-family: cursive;
  /* text-decoration: springgreen; */
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}


.row > * {
    width: 32%;
    margin-right: 5px;
}

a:link, a:visited, a:active{
    text-decoration: none;
}
.col-sm-5, .col-sm-3, .col-sm-4{
    border: 1px solid black;
    height: 100%;
    border-radius: 8px;

}
.profile{
    border: 1px solid black;
    padding: 2%;
    border-radius: 8px;
    margin-top: 1%;
}
.activity{
    border: 1px solid black;
    padding: 1%;
    border-radius: 8px;
    margin-top: 2%;
}

nav{
    padding-right: 1%;
}

