<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Assignment</title>
    {% load render_partial %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/assignment_1.css' %}">
    <style>
        body, .col-sm-5, .col-sm-2, .col-sm-4{
            background-image: url("{% static 'img/1.jpg' %}");
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        {% render_partial 'header' %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <form class="navdata" action="/students/{{student_id}}/selected_assignment" method="POST" >
                    {% csrf_token %}
                    <p class="day">
                        <select class="form-control" name="day" id="day" class="nav navbar-nav nav-pills">
                            {% for day in stack_days %}
                                <option value="{{ day.name }}"> {{ day.name }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    {% if current_user.role.id == 1 %}
                        <p class="paro">Section : {{section.name}}</p>
                        <p class="p">
                            <label for="stack">Stack</label>
                            <select class="form-control" name="stack" id="stack">
                                {% for stack in stacks %}
                                    <option value="{{ stack.name }}"> {{ stack.name }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    {% else %}
                        <p class="para"> Section: {{ section.name }}</p>
                        <p class="para"> Stack: {{ stack.name }}</p>
                    {% endif %}
                    <p>
                        <button type="submit" class="btn btn-success btn-lg">Submit</button>
                    </p>
                </form>
            </div>
        </nav>
        <div class="row">
            {% render_partial 'sidebar' %}
            {% for assignment, userAssignment in assignment_dict.items %}
                <div class="col-sm-5">
                    <h3 class="header">Assignment: {{assignment.name}}</h3>
                    {% if current_user.role.id == 1 %}
                        <form action="/students/{{student_id}}/assignment_review" method="POST">
                            {% csrf_token %}
                            <label for="hardness">Hardness: </label>
                            <select class="form-control" id="hardness" name="hardness"  aria-label="Default select example">
                                <option value="2">Easy</option>
                                <option value="5">Normal</option>
                                <option value="8">Difficult</option>
                            </select>

                            <p>Do You Need A Breakout-Session?</p>

                            <input type="radio" id="yes" name="breakout" value="yes" />
                            <label for="yes">Yes</label><br />
                            <input type="radio" id="no" name="breakout" value="no" />
                            <label for="no">No</label><br />
                            <h3>Struggling In:</h3>
                            <textarea name="comment" id="" cols="60" rows="3">{{userAssignment.comment}}</textarea>
                            <p>
                                <label for="status">Solved: </label>
                                {% if userAssignment.is_solved %}
                                    <input type="checkbox" id='status' name="is_solved" checked>
                                {% else %}
                                    <input type="checkbox" id='status' name="is_solved" >
                                {% endif %}
                                <input type="hidden" name="assignment_id" value="{{assignment.id}}">
                            </p>
                            <p>
                                <button type="submit" class="btn btn-success btn-lg">Submit</button>
                            </p>
                        </form>
                    {% else %}
                        
                        <label for="hardness">Hardness: </label>
                        <p>{{userAssignment.hardness}}</p>
                        <h3>Struggling In:</h3>
                        <p>{{userAssignment.comment}}</p>
                        <p>
                            <label for="status">Solved: </label>
                            {% if userAssignment.is_solved %}
                                <p>Solved</p>
                            {% else %}
                                <p>Not Solved</p>
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    {% if current_user.role.id == 1 %}
                        <h2 class="">Code Review:</h2>
                        <p>{{userAssignment.code_review}}</p>
                        <p>Done by:</p>
                    {% endif %}

                    {% if current_user.role.id == 2 %}
                        <form action="/students/{{student_id}}/assignment_review" method="POST">
                            {% csrf_token %}
                            <h2 >Code Review:</h2>
                            <input type="text" name="code_review" value="{{userAssignment.code_review}}">
                            <hr>
                            <input type="hidden" name="assignment_id" value="{{assignment.id}}">
                            <p>
                                <button type="submit" class="btn btn-success btn-lg">Submit</button>
                            </p>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% render_partial 'footer' %}
</body>

</html>