<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assignment_instructor.css" />
    <title>Assignment</title>
    {% load render_partial %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/assignment_1.css' %}">
</head>

<body>
    <div class="container-fluid">
        {% render_partial 'header' %}
        <div class="row">
            {% render_partial 'sidebar' %}
            <div class="col-sm-5">
                <form action="" method="POST">

                    <label for="day">Day</label>
                    <select class="form-control" name="day" id="day">
                        {% for day in stack_days %}
                            <option value="{{ day.name }}"> {{ day.name }}</option>
                        {% endfor %}
                    </select>

                    <p class="para">Section :_________</p>
                    <label for="stack">Stack</label>
                    <select class="form-control" name="stack" id="stack">
                        <option selected>Stack</option>
                        <option value="web-funds">web-funds</option>
                        <option value="python">python2</option>
                        <option value="java">java</option>
                        <option value="mern">mern</option>
                    </select>
                    <p class="paro">Instructor:_________</p>
                    <h3 class="header">Assignment:</h3>

                    <label for="hardness">Hardness: </label>
                    <select class="form-control" id="hardness" name="hardness" aria-label="Default select example">
                        <option value="easy">Easy</option>
                        <option value="normal">Normal</option>
                        <option value="difficult">Difficult</option>
                    </select>

                    <p>Do You Need A Breakout-Session?</p>

                    <input type="radio" id="yes" name="breakout" value="yes" />
                    <label for="yes">Yes</label><br />
                    <input type="radio" id="no" name="breakout" value="no" />
                    <label for="no">No</label><br />
                    <h3>Struggling In:</h3>
                    <textarea name="" id="" cols="60" rows="3"></textarea>
                    <p>
                        <label for="status">Solved: </label>
                        <input type="checkbox" name="status" id="status">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-success btn-lg">Submit</button>
                    </p>
                </form>
            </div>
            <div class="col-sm-4">
                <form action="" method="POST">
                    <h2 >Code Review:</h2>
                    <textarea name="" id="" cols="60" rows="3"></textarea>
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>