<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> Stack: {{request.session.stack_students}}</p>
    <p> Session: {{request.session.section_students}</p>
    <form action="/selected_assignment" method="POST">
        <select name="day">
            {% for i in day %}
            <option value="{{ i.name }}"> {{ i.name }}</option>
            {% endfor %}
        </select>
</body>
</html>