<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Edit</title>
    {% load render_partial %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
    <style>
        body, .col-sm-5, .col-sm-2, .col-sm-4{
            background-image: url("{% static 'img/1.jpg' %}");
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        {% render_partial 'header' %}
        <div class="row">
            {% render_partial 'sidebar' %}
            <div class="col-sm-8">
                <table  class="table table-sm">
                    <form action="/students/{{user.id}}/update" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name='pass' value="no">
                        <tr>
                            <td>First Name:</td>
                            <td><input type="text"name='first_name' class="form-control" value="{{user.first_name}}"></td>
                            <td>Last Name:</td>
                            <td><input type="text" name='last_name' class="form-control" value="{{user.last_name}}"></td>
                            
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input type="email" name='email' class="form-control" value="{{user.email}}"></td>
                            <td>Confirm Email:</td>
                            <td><input type="email" name="confirm_email" id="" name='' class="form-control" value="{{user.email}}"></td>
                            <td><button type="submit" class="btn btn-primary">Update Profile</button></td>
                            
                        </tr>
                        <tr>
                            <td>Mobile-Number:</td>
                            <td><input type="text" name='phone_number' class="form-control" value="{{user.phone_number}}"></td>
                            <td>Bagde Id</td>
                            <td><input type="text" name='badge_id' class="form-control" value="{{user.badge_id}}"></td>
                            
                        </tr>
                    </form>
                    <form action="/students/{{user.id}}/update" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name='pass' value="yes">
                        <tr>
                            <td>Password:</td>
                            <td><input type="password" name='password' class="form-control"></td>
                            <td>Confirm Password:</td>
                            <td><input type="password" name='confirm_password' class="form-control"></td>
                            <td><button type="submit" class="btn btn-danger">Change password</button></td>
                            
                        </tr>
                    </form>
                </table>
            </div>
        </div>
    </div>
    {% render_partial 'footer' %}
</body>
</html>