
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h1>AXSOS ACADEMY</h1>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Axsos Academy</a>
      </div>
      <ul class="nav navbar-nav nav-pills">
        <li><a href="/students/todo">To Do</a></li>
        <li><a href="/students/{{request.session.id}}/assignments">Assignment</a></li>
        <li><a href="/students/requests">Request</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/students/{{request.session.id}}/edit_profile"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
        <li><a href="/login/logging_out"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>