<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>HomePage</title>
    {% load render_partial %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>
      body, .col-sm-5, .col-sm-2, .col-sm-4 {
          background-image: url("{% static 'img/1.jpg' %}");
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      {% render_partial 'header' %}
      <div class="row">
        {% render_partial 'sidebar' %}
        <div class="col-sm-5">
          <h2>Today Schedule:</h2>
          <div class="row">
            <h6 class="card-title"></h6>
            <ul class="timeline">
              <li class="event" data-date="09:00 - 9:50am">
                <h3>Algorithm Session:</h3>
                <p>{{today.algo}}</p>
              </li>
              <li class="event" data-date="10:00 - 10:50am">
                <h3>Discussion:</h3>
                <p>{{today.discussion}}</p>
              </li>
              <li class="event" data-date="11:00 - 11:50am">
                <h3>Group Activity</h3>
                <p>{{today.group_activity}}</p>
              </li>
              <li class="event" data-date="12:00 - 1:00pm">
                <h3>Lunch</h3>
                <p>{{today.lunch}}</p>
              </li>
              <li class="event" data-date="01:00 - 05:00pm">
                <h3>Lab Hours:</h3>
                <h5>Assignments:</h5>
                {% for assignment in today.assignments.all %}
                  <h6>{{assignment.name}}</h6>
                {% endfor %}
                <h5>Events:</h5>
                {% for event in events %}
                  {% if event.attend == "mandatory" or user.role.id == 2 %}
                    <h6>{{event.start_time}}-{{event.end_time}} {{event.type.category}}: {{event.title}}</h6>
                  {% endif %}
                {% endfor %}
                
              </li>
              <li class="event" data-date="06:00pm -">
                <h3>Night Study</h3>
                <p>{{today.night_study}}</p>
              </li>
            </ul>
          </div>
        </div>
        {% if user.role.id == 1 %}
          <div class="col-sm-4">
            <h2>Breakout / Events:</h2>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Type</th>
                  <th>Attend</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for event in events %}
                  <tr>
                    <td>{{event.start_time}}</td>
                    <td>{{event.end_time}}</td>
                    <td>{{event.type.category}}</td>
                    <td>{{event.attend}}</td>
                    <td>
                      {% if event.attend == "optional" %}
                        <form action="choose_event" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="event_id" value="{{event.id}}">
                            <input type="submit" value="I want to attend">
                        </form>
                      {% endif %}
                  </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>
    </div>
    {% render_partial 'footer' %}
  </body>
</html>
