<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {#  in case the current user is student ... #}
    {% if request.session.role == 'student'%}
    <form action="/students/request_brackout" method="POST">
        <textarea name="brackout"></textarea>
        <input type="submit" value="Request Brackout Session">
    </form>
    <h2>Brackout Session Suggestion</h2>
    {% for request in requests %}
        <p>{{ request.desc }}</p>
        <p>Votes: {{ request.votes }}</p>
        <form action="/students/vote" method="POST">
            <input type="hidden" name="request" value="request.id">
            <input type="submit" value="Vote">
        </form>
    {% endfor %}
    {% endif %}

    {#  in case the current user is instructor ... #}
    {% if request.session.role == "instructor" %}
    <h2> Create brackout session: </h2>
    <form action="/students/create_event" method="POST">
        {% csrf_token %}
        Titel: <input type="text" name="title">
        Types: <input type="text" name="type">
        Date: <input type="date" name="date">
        Start Time: <input type="time" name="start_time">
        End Time: <input type="time" name="end_time">
        Attend: <input type="text" name="attend">
        <input type="hidden" name="event" value="brackout session">
        <input type="submit" value="Create">
    </form>
    {% for x in requests%}
    {% if x.votes > 10 %}
    <p> {{ x.desc }}</p>
    <p> {{ x.votes }}</p>
    {% endif %}
    <form action="/delete/{{i.id}}" method="POST">
        <input type="submit" value="Delete">
    </form>
    {% endfor %}
    {% endif %}
</body>
</html>