<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/choose_students">
        <select name="section">
            {% for section in sections %}
            <option value="{{ section.name }}"> {{ section.name }}</option>
            {% endfor %}
        </select>
        <select name="stack">
            {% for stack in stacks %}
            <option value="{{ stack.name }}"> {{ stack.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Show Students">
    </form>
    <table>
        <th> Student Name </th>
    {% for student in selected_students %}
    <tr>
        <td><a href="/{{student.id}}/assignments"> {{student.first_name}} {{student.last_name}}</a></td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>